<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- DNS Prefetch for external resources -->
<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//gitcdn.link">
<link rel="dns-prefetch" href="//unpkg.com">

<!-- Preload critical resources for faster loading -->
<link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style">
<link rel="preload" href="{{ '/assets/js/common.js' | relative_url }}" as="script">

<!-- Preload headshot only on pages that display it -->
{% if page.profile and page.profile.image %}
<link rel="preload" href="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" as="image" type="image/webp">
{% endif %}

<!-- Image optimization hints -->
<link rel="preload" href="{{ '/assets/img/favicon.ico' | relative_url }}" as="image" type="image/x-icon">

<!-- Preload critical scripts for faster page transitions -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/jquery@{{ site.jquery.version }}/dist/jquery.min.js" as="script" crossorigin="anonymous">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@{{ site.bootstrap.version }}/dist/js/bootstrap.min.js" as="script" crossorigin="anonymous">

<!-- Preload critical CSS resources for faster rendering -->
<link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/css/bootstrap.min.css" as="style" crossorigin="anonymous">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css" as="style" crossorigin="anonymous">

<!-- Preload Academicons only on pages that need it -->
{% if page.url contains 'publications' or page.url contains 'about' %}
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" as="style" crossorigin="anonymous">
{% endif %}

<!-- Preload Notes section resources -->
{% if page.url contains 'notes' %}
<link rel="preload" href="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" as="script" crossorigin="anonymous">
<link rel="preload" href="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" as="script" crossorigin="anonymous">
{% endif %}

<!-- Preload all site pages for faster navigation -->
{% unless page.url == '/' %}
<link rel="prefetch" href="{{ '/' | relative_url }}">
{% endunless %}
{% unless page.url contains 'notes' %}
<link rel="prefetch" href="{{ '/notes/' | relative_url }}">
{% endunless %}
{% unless page.url contains 'projects' %}
<link rel="prefetch" href="{{ '/projects/' | relative_url }}">
{% endunless %}
{% unless page.url contains 'publications' %}
<link rel="prefetch" href="{{ '/publications/' | relative_url }}">
{% endunless %}
{% unless page.url contains 'teaching' %}
<link rel="prefetch" href="{{ '/teaching/' | relative_url }}">
{% endunless %}
{% unless page.url contains 'cv' %}
<link rel="prefetch" href="{{ '/cv/' | relative_url }}">
{% endunless %}
{% unless page.url contains 'fun' %}
<link rel="prefetch" href="{{ '/fun/' | relative_url }}">
{% endunless %}

<!-- Preconnect to external domains for faster loading -->
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://unpkg.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.googletagmanager.com">

<!-- Additional DNS prefetch for better performance -->
<link rel="dns-prefetch" href="//unpkg.com">

<title>{% if site.title == blank %}{{ site.title }}{% else %}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{% endif %}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">

<!-- Open Graph -->
{% if site.serve_og_meta %}
<meta property="og:site_name" content="{{ site.description }}" />
<meta property="og:type" content="object" />
<meta property="og:title" content="{{ site.name }}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ page.title }}" />
<meta property="og:image" content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
{% endif %}

<!-- Bootstrap & MDB -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/css/bootstrap.min.css" rel="stylesheet" integrity="{{ site.bootstrap.integrity.css }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/{{ site.mdb.version }}/css/mdb.min.css" integrity="{{ site.mdb.integrity.css }}" crossorigin="anonymous">

<!-- Fonts & Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.fontawesome.version }}/css/all.min.css" integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous">
<!--link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:100,300,400,500,700|Material+Icons"-->

<!-- Font optimization -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"></noscript>

<!-- Code Syntax Highlighting -->
<link rel="stylesheet" href="https://gitcdn.link/repo/jwarby/jekyll-pygments-themes/master/{{ site.highlight_theme }}.css" />

<!-- Styles -->
<!--<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png?' | relative_url }}">-->
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico?' | prepend: site.baseurl | prepend: site.url }}">
<!-- Critical CSS inline for faster rendering -->
<style>
  /* Critical above-the-fold styles */
  .navbar { font-size: 11pt; }
  .navbar .nav-link { font-size: 11pt; }
  .navbar .navbar-brand { font-size: 11pt; }
  body { font-size: 11pt; }
  .container { max-width: 800px; margin: 0 auto; }
  .mt-5 { margin-top: 3rem !important; }
</style>

<!-- Load main CSS asynchronously -->
<link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">


<!-- CSS Loading Script -->
<script>
  // LoadCSS polyfill for better browser support
  !function(e){"use strict";var t=function(t,n,r){function o(e){return i.body?e():void setTimeout(function(){o(e)})}function a(){d.addEventListener&&d.removeEventListener("load",a),d.media=r||"all"}var l,i=e.document,d=i.createElement("link");if(n)l=n;else{var s=(i.body||i.getElementsByTagName("head")[0]).childNodes;l=s[s.length-1]}var u=i.styleSheets;d.rel="stylesheet",d.href=t,d.media="only x",o(function(){l.parentNode.insertBefore(d,n?l:l.nextSibling)});var f=function(e){for(var t=d.href,n=u.length;n--;)if(u[n].href===t)return e();setTimeout(function(){f(e)})};return d.addEventListener&&d.addEventListener("load",a),d.onloadcssdefined=f,f(a),d};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this);
</script>

<!-- Theme initialization - must run before CSS to prevent color glitches -->
{% if site.enable_darkmode %}
<script>
  // Initialize theme immediately to prevent color glitches
  (function() {
    let initTheme = (theme) => {
      if (theme == null) {
        const userPref = window.matchMedia;
        if (userPref && userPref('(prefers-color-scheme: dark)').matches) {
            theme = 'dark';
        }
      }
      if (theme) {  
        document.documentElement.setAttribute('data-theme', theme);
      }
      localStorage.setItem("theme", theme);
    };
    initTheme(localStorage.getItem("theme"));
  })();
</script>
{% endif %}

