/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$red-color-dark};
  --global-hover-color: #{$red-color};
  --global-footer-bg-color: #{$white-color};
  --global-footer-text-color: #{$black-color};
  --global-footer-link-color: #{$orange-color};
  --global-icon-color: #{$grey-color-dark};
  --global-project-card-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-header-dropdown-color: #{$white-color};


  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$gold-color-bg};
  --global-text-color: #{$grey-color-fg};
  --global-theme-color: #{$link-gold};
  --global-hover-color: #{$link-gold};
  --global-footer-bg-color: #{$black-color};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$link-gold};
  --global-icon-color: #{$grey-color-fg};
  --global-project-card-color: #{$gold-color-fg};
  --global-header-dropdown-color:rgb(255, 255, 225);


  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
