/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color: #c71f1f !default; //#FF3636 !default;
$red-color-dark: #B01C1C !default;
$orange-color: #E65100 !default;
$light-orange-color: #ff6b1a !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698BA !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #00ab37 !default;
$green-color-lime: #B7D12A !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11D68B !default;
$purple-color: #B509AC !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
$gold-color-bg: rgba(238, 238, 26, 0.068);
$gold-color-fg: rgba(255, 255, 0, 0.068);
$grey-color-fg: darken($grey-color, 35%);
$link-gold: #c59205 !default;
$link-gold-dark: #e0b439 !default;


$white-color: #ffffff !default;
$black-color: #000000 !default;
$grey-900: #212529;

// Theme Colors
$code-bg-color-light: rgba($red-color-dark, 0.05);
// $code-bg-color-dark: #2c3237 !default;
$code-bg-color-dark: grey-color-light !default;
$theme-bg-color-dark: #16181d !default;
$dark-blue: rgb(48, 32, 151) !default;
$theme-color-light: $dark-blue !default;
$theme-color-dark: rgb(48, 128, 255) !default;
$theme-bg-color-light: $white-color;

// // CMU Colors
// // https://www.cmu.edu/brand/brand-guidelines/visual-identity/colors.html

// // C92 M18 Y32 K65
// // 92 18 32 65
// $cmu-honbostel-teal: #07493d !default;
// // C47 M6 Y28 K18
// // 47 6 28 18
// $cmu-palladian-green: #6fc597 !default;
// // C0 M96 Y77 K42
// // 0 96 77 42
// $cmu-skibo-red: #940622 !default;

// $nyu-violet: #57068c !default;
// $nyu-deep-violet: #330662 !default;
// $nyu-teal: #009b8a !default;