<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

  </body>

  <!-- Critical scripts for faster page transitions -->
  <script defer src="https://cdn.jsdelivr.net/npm/jquery@{{ site.jquery.version }}/dist/jquery.min.js" integrity="{{ site.jquery.integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ '/assets/js/common.js' | relative_url }}"></script>
  
  <!-- Theming -->
  {% if site.enable_darkmode %}
    <script defer src="{{ '/assets/js/dark_mode.js' | relative_url }}"></script>
  {% endif %}
  
  <!-- Bootstrap and other scripts -->
  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
